@model IEnumerable<scg_clinicasur.Models.Evaluacion>

@{
    ViewData["Title"] = "Mis Evaluaciones";
}

<h2>Mis Evaluaciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tiempo de prueba</th>
            <th>Archivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evaluacion in Model)
        {
            <tr>
                <td>@evaluacion.nombre</td>
                <td>@evaluacion.descripcion</td>
                <td>@evaluacion.tiempo_prueba</td>
                <td>
                    @if (!string.IsNullOrEmpty(evaluacion.archivo))
                    {
                        <a href="@Url.Content($"~/archivos/{evaluacion.archivo}")" target="_blank">Ver archivo</a>
                    }
                    else
                    {
                        <span>No disponible</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
