@{
    ViewBag.Title = "Asistente Medico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TrainingMed" asp-action="Schedule">Programacion de Capacitaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TrainingMed" asp-action="ScheduleTraining">Agendar Capacitaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TrainingMed" asp-action="ManageSchedule">Gestionar Capacitaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TrainingMed" asp-action="History">Historial de Capacitaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TrainingMed" asp-action="Resources">Recursos de Capacitacion</a>
        </li>
    </ul>
</div>
        </div>
    </nav>
</header>
