@{
    ViewBag.Title = "Asistente Médico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header class="text-center mb-4">
        <h1 class="display-5 mt-4">Bienvenido, Asistente Médico</h1>
        <p class="lead">Gestión de Capacitaciones</p>
    </header>

    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <div class="p-4 bg-light rounded shadow-sm">
                <h2 class="h4 text-dark">Programación de Evaluaciones</h2>
                <p class="mb-0">Accede y gestiona las evaluaciones relacionadas con tus responsabilidades médicas.</p>
                <a asp-controller="AsistenteMedico" asp-action="Evaluaciones" class="btn btn-primary mt-3">Ver Evaluaciones</a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="p-4 bg-success text-white rounded shadow-sm">
                <h2 class="h4">Programación de Capacitaciones</h2>
                <p class="mb-0">Consulta y organiza las capacitaciones diseñadas para mejorar tus habilidades en asistencia médica.</p>
                <a asp-controller="AsistenteMedico" asp-action="Capacitaciones" class="btn btn-light mt-3">Ver Capacitaciones</a>
            </div>
        </div>
    </div>

    <div class="p-4 bg-primary text-white rounded text-center">
        <h2 class="display-6">Comprometidos con la Excelencia</h2>
        <p class="lead">Estamos aquí para apoyarte en tu desarrollo profesional y garantizar la mejor atención médica para nuestros pacientes.</p>
    </div>
</div>