@{
    ViewData["Title"] = "Recursos de Aprendizaje - Asistente Médico";
}

<div class="col-12 text-center">
    <h1 class="display-5 mt-4">Recursos de Aprendizaje</h1>
    <p class="lead text-center">Materiales y Videos para mejorar tus habilidades como Asistente Médico</p>
</div>
<br />

<div class="mt-4">
    <h3>Documentos y Páginas de Capacitación</h3>
    <ul>
        <li><a href="#">Guía de Procedimientos Médicos Básicos</a></li>
        <li><a href="#">Manual de Primeros Auxilios</a></li>
        <li><a href="#">Normas de Seguridad en la Atención Médica</a></li>
    </ul>
</div>

<div class="mt-4">
    <h3>Videos de Capacitación</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEOLINK" allowfullscreen></iframe>
    </div>
    <p class="mt-2">Video de Capacitación en Técnicas de Asistencia Médica</p>
</div>