@{
    ViewData["Title"] = "Acceso Denegado";
}

<h1>Acceso Denegado</h1>
<p>No tienes permisos para acceder a este módulo. Por favor, contacta al administrador si crees que esto es un error.</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver al Inicio</a>