@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CLINICA MEDICA DEL SUR</h1>
    <p>Go to the <a asp-action="About">About</a> page.</p>
    <p>Go to the <a asp-action="Contact">Contact</a> page.</p>
</div>
