@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-12-8 px-0 text-center">
            <h1 class="display-4 fst-italic">Bienvenido a la Clínica Médica del Sur</h1>
            <p class="lead my-3">
                Clínica Médica del Sur, fundada en 1990 por el Dr Alvaro Sanabria Mora. Más de 25 años de experiencia.
                Sucursal en Hatillo Centro.
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <div class="p-4 bg-light rounded shadow-sm">
                <h2 class="h4 text-dark">Nuestro Compromiso</h2>
                <p class="mb-0">Lorem ipsum odor amet, consectetuer adipiscing elit. Magnis primis orci ultricies vehicula suspendisse. Maecenas curae maecenas sem efficitur; justo bibendum justo primis.</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-4 bg-primary text-white rounded shadow-sm">
                <h2 class="h4">Información de Contacto</h2>
                <p class="mb-0">Teléfono: (506) 2252 0202</p>
                <p class="mb-0">Correo: dralvarosanabria@gmail.com</p>
                <p class="mb-0">
                    Dirección: 
                    Hatillo Centro 10110 Hatillo, San José Province, Costa Rica
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-4 bg-warning rounded shadow-sm">
                <h2 class="h4 text-dark">Síguenos en Redes Sociales</h2>
                <p class="mb-0">Instagram: Dr. Álvaro Sanabria Mora</p>
                <p class="mb-0">Facebook: Clínica Médica del Sur</p>
                <p class="mb-0">Linkedin: Dr Alvaro Sanabria</p>
                <p class="mb-0">WhatsApp: 8378 8341</p>
            </div>
        </div>
    </div>

    <div class="p-4 p-md-5 mb-4 bg-success text-white rounded text-center">
        <h2 class="display-6">Tu Salud, Nuestra Prioridad</h2>
        <p class="lead">Lorem ipsum odor amet, consectetuer adipiscing elit. Vehicula augue ornare dapibus curabitur sit orci.Ac enim nostra elementum aliquet, commodo sagittis sit venenatis. Magnis primis orci ultricies vehicula fusce pellentesque morbi suspendisse. Primis tincidunt erat efficitur conubia enim. Maecenas curae maecenas sem efficitur; justo bibendum justo primis.</p>
    </div>
</div>

