@{
    ViewData["Title"] = "Gestionar Programación de Capacitaciones";
}

<div class="col-12 text-center">
    <h1 class="display-5 mt-4">Gestionar Programación de Capacitaciones</h1>
</div>
<br />

<!-- Simulación de gestión de la programación de capacitaciones -->
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Capacitación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10/06/2024</td>
            <td>Capacitación 1</td>
            <td>
                <a class="btn btn-success" href="#">Aceptar</a>
                <a class="btn btn-warning" href="#">Solicitar Cambio</a>
                <a class="btn btn-danger" href="#">Cancelar</a>
            </td>
        </tr>
        <!-- Más filas según sea necesario -->
    </tbody>
</table>
