@{
    ViewData["Title"] = "Admin";
}
<div class="container">
    <div class="text-center my-4">
        <h1 class="display-5">Bienvenido, Administrador</h1>
    </div>

    <div class="p-4 p-md-5 mb-4 rounded text-white" style="background-color: #00B0B5;">
        <div class="col-12 px-0 text-center">
            <h1 class="display-4 fst-italic">Clínica Médica del Sur</h1>
            <p class="lead my-3">
                Fundada en 1990 por el Dr. Alvaro Sanabria Mora. Más de 25 años de experiencia.
                Sucursal en Hatillo Centro.
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <div class="p-4 rounded shadow-sm" style="background-color: #e3f2fd;">
                <h2 class="h4 text-dark">Nuestro Compromiso</h2>
                <p class="mb-0">En la Clínica Médica del Sur, estamos dedicados a brindarte atención médica de calidad con calidez humana. Nuestro equipo de profesionales trabaja día a día para garantizar tu bienestar, ofreciendo servicios integrales y personalizados que te ayuden a mantener y mejorar tu salud.</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-4 rounded shadow-sm text-white" style="background-color: #007A7E;">
                <h2 class="h4">Información de Contacto</h2>
                <p class="mb-0">Teléfono: (506) 2252 0202</p>
                <p class="mb-0">Correo: dralvarosanabria@gmail.com</p>
                <p class="mb-0">
                    Dirección:
                    Hatillo Centro 10110 Hatillo, San José Province, Costa Rica
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-4 rounded shadow-sm" style="background-color: #fdd835;">
                <h2 class="h4 text-dark">Síguenos en Redes Sociales</h2>
                <p class="mb-0">Instagram: Dr. Álvaro Sanabria Mora</p>
                <p class="mb-0">Facebook: Clínica Médica del Sur</p>
                <p class="mb-0">LinkedIn: Dr. Alvaro Sanabria</p>
                <p class="mb-0">WhatsApp: 8378 8341</p>
            </div>
        </div>
    </div>

    <div class="p-4 p-md-5 mb-4 rounded text-white text-center" style="background-color: #054DC5;">
        <h2 class="display-6">Tu Salud, Nuestra Prioridad</h2>
        <p class="lead">Creemos que la salud es el pilar fundamental para una vida plena. Por eso, en la Clínica Médica del Sur, nos comprometemos a cuidar de ti y de los tuyos, con tecnología de punta, atención especializada y un enfoque preventivo que pone tu bienestar en el centro de todo lo que hacemos.</p>
    </div>
</div>
