@{
    ViewData["Title"] = "Admin";
}
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav flex-grow-1">
                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="AdminSchedule">Capacitaciones</a>
                    <a class="nav-link text-light" asp-area="#" asp-controller="Citas" asp-action="Index">Citas</a>
                    <a class="nav-link text-light" asp-area="#" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                    <a class="nav-link text-light" asp-area="#" asp-controller="Notificaciones" asp-action="Index">Notificaciones</a>
                    <a class="nav-link text-light" asp-area="#" asp-controller="Contabilidad" asp-action="Historial">Contabilidad</a>
                    <a class="nav-link text-light" asp-area="#" asp-controller="Expedientes" asp-action="Index">Expedientes</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
<div class="col-12 text-center">
    <h1 class="display-5 mt-4">Bienvenido, Administrador</h1>
</body>
