@model scg_clinicasur.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        <nav>
            <a asp-action="Index" class="button">Volver al Listado</a>
        </nav>
    </header>
    <main>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form method="post" asp-action="Editar" asp-route-id="@Model.id_usuario">
            <input type="hidden" asp-for="id_usuario" /> <!-- Campo oculto para enviar el ID -->

            <label asp-for="nombre">Nombre:</label>
            <input asp-for="nombre" class="form-control" />
            <span asp-validation-for="nombre" class="text-danger"></span>

            <label asp-for="apellido">Apellido:</label>
            <input asp-for="apellido" class="form-control" />
            <span asp-validation-for="apellido" class="text-danger"></span>

            <label asp-for="contraseña">Password (deja en blanco si no deseas cambiar la contraseña):</label>
            <input asp-for="contraseña" type="password" class="form-control" placeholder="Deja en blanco si no deseas cambiar la contraseña">
            <span asp-validation-for="contraseña" class="text-danger"></span>

            <label asp-for="correo">Email:</label>
            <input asp-for="correo" type="email" class="form-control" />
            <span asp-validation-for="correo" class="text-danger"></span>

            <label asp-for="telefono">Teléfono:</label>
            <input asp-for="telefono" class="form-control" />
            <span asp-validation-for="telefono" class="text-danger"></span>

            <label asp-for="id_rol">Rol:</label>
            <select asp-for="id_rol" class="form-control" asp-items="ViewBag.Roles"></select>
            <span asp-validation-for="id_rol" class="text-danger"></span>

            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </main>
</body>
</html>