@model scg_clinicasur.Models.RecursosAprendizaje
@{
    ViewData["Title"] = "Crear Recurso de Aprendizaje";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="CrearRecurso" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="titulo" class="control-label">Título:</label>
        <input asp-for="titulo" class="form-control" />
        <span asp-validation-for="titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="id_capacitacion" class="control-label">Capacitación:</label>
        <select asp-for="id_capacitacion" class="form-control" asp-items="ViewBag.Capacitaciones">
            <option value="">Seleccione una capacitación</option>
        </select>
        <span asp-validation-for="id_capacitacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="archivo" class="control-label">Archivo:</label>
        <input asp-for="archivo" type="file" class="form-control" />
        <span asp-validation-for="archivo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="enlace" class="control-label">Enlace:</label>
        <input asp-for="enlace" class="form-control" />
        <span asp-validation-for="enlace" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
