@model IEnumerable<scg_clinicasur.Models.Cita>

@{
    ViewData["Title"] = "Calendario de Citas";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-9ndCyUaAM20u9KJdDRF8y70mcsntPIpg6zVf6Dykqjz4zssrztb1moM8unSxj6tG" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.0/main.min.css" integrity="sha512-KOp1D5rdrP2TjkNrm7BU4KDNRELTGiSkG+bOxVtBF7oLJ+xTBkBXbOwvMM7j/KoE+ZKXK5H3lAeLsPcPLDl8vQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-KyZXEAg3QhqLMpG8r+Knujsl5/1hbGfT0N5jQar5bDo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.0/main.min.js" integrity="sha512-7vfpERET0VddD+oKlCe9Iv6MwAk+GyBlRzD+GHQzjzZYmyDQgyfFppURFdAynLMmkrBt3R60esgSYTC3RJbsxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">@ViewData["Title"]</h1>

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
        {
            <div class="alert alert-warning">@ViewBag.WarningMessage</div>
        }

        <nav class="mb-4">
            <a asp-action="Index" class="btn btn-primary">Volver al Listado</a>
        </nav>

        <!-- Calendario -->
        <div id="calendar"></div>
    </div>

</body>
</html>