@{
    ViewData["Title"] = "Calendario de Citas";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        <nav>
            <a asp-action="Index" class="button">Volver al Listado</a>
        </nav>
    </header>
    <main>
        @*         <form method="post" asp-action="Calendario">
        <label for="paciente">Paciente:</label>
        <input type="text" id="paciente" name="paciente" required>

        <label for="fecha">Fecha:</label>
        <input type="text" id="fecha" name="fecha" required>

        <label for="motivo">Motivo:</label>
        <input type="text" id="motivo" name="motivo" required>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
        <option value="activo">Activo</option>
        <option value="cancelado">Cancelado</option>
        <option value="presente">Presente</option>
        <option value="proxima">Proxima</option>
        </select>


        <button type="submit" class="button">Guardar</button>
        </form> *@

        <title>Calendario de Citas</title>



        <div class="calendario">
            <h1>Calendario de Citas</h1>
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Fecha</th>
                        <th>Paciente</th>
                        <th>Descripción</th>
                    </tr>
                </thead>




                <tbody id="citas">




                    <!-- Aquí se mostrarán las citas -->

                </tbody>
            </table>
            <div class="navegacion">
                <button id="anterior">Anterior</button>
                <button id="siguiente">Siguiente</button>
            </div>
        </div>

        <script src="script.js"></script>



    </main>

</body>



</html>
