@{
    ViewBag.Title = "Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header class="text-center mb-4">
        <h1 class="display-5 mt-4">Bienvenido, Paciente</h1>
        <p class="lead">Estamos aquí para atender tus necesidades de salud con compromiso y dedicación.</p>
    </header>

    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <div class="p-4 bg-light rounded shadow-sm">
                <h2 class="h4 text-dark">Gestión de Citas</h2>
                <p class="mb-0">Consulta y administra tus citas médicas de manera rápida y sencilla.</p>
                <a asp-action="Citas" class="btn btn-primary mt-3">Ver Citas</a>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="p-4 bg-success text-white rounded shadow-sm">
                <h2 class="h4">Tu Salud</h2>
                <p class="mb-0">Accede a información importante para mantener tu bienestar.</p>
                <a asp-action="InformacionSalud" class="btn btn-light mt-3">Más Información</a>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="p-4 bg-warning rounded shadow-sm">
                <h2 class="h4 text-dark">Soporte</h2>
                <p class="mb-0">Contáctanos para cualquier duda o consulta que tengas.</p>
                <a asp-action="Contacto" class="btn btn-dark mt-3">Contactar</a>
            </div>
        </div>
    </div>

    <div class="p-4 bg-primary text-white rounded text-center">
        <h2 class="display-6">Estamos Comprometidos con Tu Bienestar</h2>
        <p class="lead">En la Clínica Médica del Sur, trabajamos cada día para ofrecerte atención médica de calidad, personalizada y humana.</p>
    </div>
</div>
