@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinica Médica Sur</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Centra verticalmente el contenido */
            align-items: center; /* Centra horizontalmente el contenido */
            padding: 20px;
        }

        .navbar, .dropdown-menu {
            background-color: #00B0B5;
            color: white;
        }

        .navbar-brand, .nav-link, .dropdown-item {
            color: white !important;
        }

            .dropdown-item:hover {
                background-color: #007A7E;
            }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        footer {
            background-color: #007A7E;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        .footer-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

            .footer-section > div {
                flex: 1;
                text-align: center;
                padding: 10px;
            }

            .footer-section a {
                color: white;
                text-decoration: none;
            }

                .footer-section a:hover {
                    text-decoration: underline;
                }

        .navbar-right-icons {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    </style>

    <div class="content-wrapper">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Clinica Médica del Sur</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        @{
                            var userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
                        }

                        <ul class="navbar-nav">
                            @if (userRole == "administrador")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">
                                        <i class="bi bi-house"></i> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Capacitaciones" asp-action="Index">
                                        <i class="bi bi-journal"></i> Capacitaciones
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Evaluaciones" asp-action="Index">
                                        <i class="bi bi-check2-circle"></i> Evaluaciones
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Citas" asp-action="Index">
                                        <i class="bi bi-calendar-check"></i> Citas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Usuarios" asp-action="Index">
                                        <i class="bi bi-people"></i> Usuarios
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Contabilidad" asp-action="Historial">
                                        <i class="bi bi-cash"></i> Contabilidad
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Expedientes" asp-action="Index">
                                        <i class="bi bi-folder2-open"></i> Expedientes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Paciente" asp-action="ListadoPacientes">
                                        <i class="bi bi-file-earmark-person"></i> Pacientes
                                    </a>
                                </li>
                            }
                            else if (userRole == "doctor")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Doctor" asp-action="Index">
                                        <i class="bi bi-clipboard"></i> Menu
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Citas" asp-action="Index">
                                        <i class="bi bi-calendar-event"></i> Citas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Citas" asp-action="Calendario">
                                        <i class="bi bi-calendar"></i> Calendario
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Usuarios" asp-action="Index">
                                        <i class="bi bi-person-plus"></i> Agregar Paciente
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Expedientes" asp-action="Index">
                                        <i class="bi bi-folder"></i> Expedientes
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="nav-link" asp-controller="Notificaciones" asp-action="Index">
                            <i class="bi bi-bell" style="font-size: 1.5rem; color: white;"></i>
                        </a>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle" style="font-size: 1.5rem; color: white;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <div class="footer-section">
                <div>
                    <strong>Clinica Médica del Sur</strong><br />
                    Fundada en 1990 por el Dr. Alvaro Sanabria Mora.<br />
                    Más de 25 años de experiencia.
                </div>
                <div>
                    <strong>Sucursal</strong><br />
                    Hatillo Centro, Hatillo, Costa Rica<br />
                    Tel: 2252-0202<br />
                    <a href="https://www.facebook.com/clinica.medicadelsur/?locale=es_LA">Facebook</a> |
                    <a href="https://www.waze.com/es/live-map/directions/clinica-medica-del-sur-hatillo-centro,-hatillo,-san-jose?to=place.w.180813923.1808139231.585555">Waze</a>
                </div>
                <div>
                    <strong>Contacto</strong><br />
                    Tel: 2262-2525 / 2263-4826<br />
                    Email: info@centromedicodelsur.co.cr<br />
                    Costado este del Nuevo Hospital de Heredia,<br />
                    en Heredia Centro.<br />
                    Horario: Lunes a Viernes, 8:00am - 5:00pm
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>