@model IEnumerable<scg_clinicasur.Models.Evaluacion>

@{
    ViewData["Title"] = "Mis Evaluaciones";
}

<h2>Mis Evaluaciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tiempo de prueba</th>
            <th>Archivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evaluacion in Model)
        {
            <tr>
                <td>@evaluacion.nombre</td>
                <td>@evaluacion.descripcion</td>
                <td>@evaluacion.tiempo_prueba</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
