@{
    ViewData["Title"] = "Historial de Capacitaciones";
}

<div class="col-12 text-center">
    <h1 class="display-5 mt-4">Historial de Capacitaciones</h1>
</div>
<br />

<!-- Simulación del historial de capacitaciones -->
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Capacitación</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01/05/2024</td>
            <td>Capacitación A</td>
            <td>Completada</td>
        </tr>
        <tr>
            <td>04/05/2024</td>
            <td>Capacitación B</td>
            <td>Completada</td>
        </tr>
        <tr>
            <td>22/03/2024</td>
            <td>Capacitación C</td>
            <td>Incompleta</td>
        </tr>
        <tr>
            <td>09/02/2024</td>
            <td>Capacitación D</td>
            <td>Completada</td>
        </tr>
        <tr>
            <td>28/07/2024</td>
            <td>Capacitación E</td>
            <td>Incompleta</td>
        </tr>
        <!-- Más filas según sea necesario -->
    </tbody>
</table>

<!-- Filtro por fecha -->
<form method="get" action="@Url.Action("History", "AsistenteLimpieza")">
    <div class="form-floating">
        <input type="date" class="form-control" id="startDate" name="startDate">
        <label for="startDate">Desde:</label>
    </div>
    <br />
    <div class="form-floating">
        <input type="date" class="form-control" id="floatingSelect" name="endDate">
        <label for="floatingSelect">Hasta:</label>
    </div>
    <br />
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

