@{
    ViewBag.Title = "Asistente Limpieza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header class="text-center mb-4">
        <h1 class="display-5 mt-4">Bienvenido, Asistente de Limpieza</h1>
        <p class="lead">Gestión de Capacitaciones</p>
    </header>

    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <div class="p-4 bg-light rounded shadow-sm">
                <h2 class="h4 text-dark">Programación de Evaluaciones</h2>
                <p class="mb-0">Accede y gestiona las evaluaciones relacionadas con tus responsabilidades laborales.</p>
                <a asp-controller="AsistenteLimpieza" asp-action="Evaluaciones" class="btn btn-primary mt-3">Ver Evaluaciones</a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="p-4 bg-success text-white rounded shadow-sm">
                <h2 class="h4">Programación de Capacitaciones</h2>
                <p class="mb-0">Consulta y organiza las capacitaciones diseñadas para mejorar tus habilidades.</p>
                <a asp-controller="AsistenteLimpieza" asp-action="Capacitaciones" class="btn btn-light mt-3">Ver Capacitaciones</a>
            </div>
        </div>
    </div>

    <div class="p-4 bg-primary text-white rounded text-center">
        <h2 class="display-6">Comprometidos con la Excelencia</h2>
        <p class="lead">Nuestro objetivo es apoyarte en tu desarrollo profesional y garantizar un entorno de trabajo óptimo.</p>
    </div>
</div>
