@{
    ViewData["Title"] = "Recursos de Aprendizaje - Personal de Limpieza";
}

<div class="col-12 text-center">
    <h1 class="display-5 mt-4">Recursos de Aprendizaje</h1>
    <p class="lead text-center">Materiales y Videos para mejorar tus habilidades como Asistente de Limpieza</p>
</div>
<br />
<div class="mt-4">
    <h3>Documentos y Páginas de Capacitación</h3>
    <ul>
        <li><a href="#">Guía de Limpieza y Desinfección de Superficies</a></li>
        <li><a href="#">Manual de Procedimientos de Seguridad e Higiene</a></li>
        <li><a href="#">Normas Básicas de Limpieza Hospitalaria</a></li>
    </ul>
</div>

<div class="mt-4">
    <h3>Videos de Capacitación</h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEOLINK" allowfullscreen></iframe>
    </div>
    <p class="mt-2">Video de Capacitación en Técnicas de Limpieza Profesional</p>
</div>