@{
    ViewData["Title"] = "Agendar Capacitación";
}

<div class="col-12 text-center">
    <h1 class="display-5 mt-4">Agendar Capacitación</h1>
</div>
<br />

<!-- Simulación del agendamiento de capacitaciones -->
<form method="post" action="@Url.Action("ScheduleTraining", "AsistenteLimpieza")">
    <div class="form-floating">
        <select class="form-select" id="floatingSelect">
            <option>Capacitación 1</option>
            <option>Capacitación 2</option>
            <option>Capacitación 3</option>
        </select>
        <label for="floatingSelect">Selecciona Capacitación</label>
    </div>
    <br />
    <div class="form-floating">
        <input type="date" class="form-select" id="floatingSelect" name="date">
        <label for="floatingSelect">Selecciona una Fecha</label>
    </div>
    <br />
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Agendar</button>
    </div>

</form>