@model scg_clinicasur.Models.Evaluacion

<h1>Crear Evaluación</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Evaluaciones" asp-action="Crear">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input asp-for="nombre" class="form-control" />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea asp-for="descripcion" class="form-control"></textarea>
        <span asp-validation-for="descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="tiempo_prueba">Tiempo de la Prueba</label>
        <input asp-for="tiempo_prueba" class="form-control" />
        <span asp-validation-for="tiempo_prueba" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="file" name="file" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="id_capacitacion">Capacitación</label>
        <select asp-for="id_capacitacion" class="form-control">
            <option value="">Seleccione una capacitación</option>
            @foreach (var capacitacion in ViewData["Capacitaciones"] as IEnumerable<scg_clinicasur.Models.Capacitacion>)
            {
                <option value="@capacitacion.id_capacitacion">@capacitacion.titulo</option>
            }
        </select>
        <span asp-validation-for="id_capacitacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="id_usuario">Usuario</label>
        <select asp-for="id_usuario" class="form-control">
            @foreach (var usuario in ViewData["Usuarios"] as IEnumerable<scg_clinicasur.Models.Usuario>)
            {
                <option value="@usuario.id_usuario">@usuario.nombre</option>
            }
        </select>
        <span asp-validation-for="id_usuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
