@model scg_clinicasur.Models.Evaluacion
@{
    ViewData["Title"] = "Crear Evaluación";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Crear" method="post">
    <label asp-for="nombre">Nombre:</label>
    <input asp-for="nombre" class="form-control" />
    <span asp-validation-for="nombre" class="text-danger"></span>

    <label asp-for="descripcion">Descripción:</label>
    <textarea asp-for="descripcion" class="form-control"></textarea>
    <span asp-validation-for="descripcion" class="text-danger"></span>

    <label asp-for="tiempo_prueba">Tiempo de Prueba:</label>
    <input asp-for="tiempo_prueba" type="time" class="form-control" />
    <span asp-validation-for="tiempo_prueba" class="text-danger"></span>

    <label asp-for="archivo">Archivo:</label>
    <input asp-for="archivo" type="file" class="form-control" />
    <span asp-validation-for="archivo" class="text-danger"></span>

    <label asp-for="id_usuario">Usuario:</label>
    <select asp-for="id_usuario" class="form-control" asp-items="ViewBag.Usuarios"></select>
    <span asp-validation-for="id_usuario" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
