@model scg_clinicasur.Models.Evaluacion

<h1>Eliminar Evaluación</h1>

<div>
    <p>¿Estás seguro de que deseas eliminar la evaluación <strong>@Model.nombre</strong>?</p>
    <form asp-action="Eliminar" method="post">
        <input type="hidden" asp-for="id_evaluacion" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
