@model IEnumerable<scg_clinicasur.Models.Notificacion>

@{
    ViewData["Title"] = "Mis Notificaciones";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>No tienes notificaciones.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Mensaje</th>
                <th>Fecha de Envío</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.titulo</td>
                    <td>@item.mensaje</td>
                    <td>@item.fecha_envio.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}
