<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/07c0ba93-43f7-4924-9ef1-c63e020cbaae/resourceGroups/ClinicaMedicaSur/providers/Microsoft.Web/sites/ClinicaMedicaSur</ResourceId>
    <ResourceGroup>ClinicaMedicaSur</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://clinicamedicasur-e7bygfc6c4fcbfap.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>725f065e-1652-4dc8-8ab2-3a6c4bfab6c7</ProjectGuid>
    <PublishUrl>https://clinicamedicasur-e7bygfc6c4fcbfap.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$ClinicaMedicaSur</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>