@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p class="lead d-grid gap-2">
        Recuperar Contraseña
    </p>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <form method="post" action="/Account/ForgotPassword">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputEmail" name="correo" placeholder="Ingresa tu correo electrónico" required>
            <label for="floatingInputEmail">Correo Electrónico:</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="/Account/Login" class="btn btn-primary active">Volver al Inicio de Sesión</a>
        </div>
    </form>
</div>
